$colorPrincipal:#B5838D;
$colorSecundario:#FFCDB2;


body {
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.45fr 1fr 1fr;
    grid-template-areas: 
        "header header"
        "main main"
        "section1 section2"
        "footer footer";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

header {
    background-color: $colorPrincipal;
    grid-area: header ;
}

main   {
    grid-area: main ;
    padding: 10px;
    align-items: center;
    justify-items: center;
    background-color: $colorSecundario;
}

.section1   {
    grid-area: section1;
     justify-content: center;
     align-items: center;
     padding: 10px;
     background-image: linear-gradient(to bottom,$colorSecundario, grey);
 }
 
 .section2   {
     grid-area: section2;
     justify-content: center;
     align-items: center;
     padding: 10px;
     background-image: linear-gradient(to bottom,$colorSecundario, grey);
 }
 
 .clientes1  {
    width: auto;
    height: 200px;
}

.clientes2  {
    width: auto;
    height: 200px;
}

.carousel-inner {
img {
    max-width: 300px;
    min-height: 300px;
    align-items: center;
}
}
.clientes3 {
    width: auto;
    height: 200px;
}

.clientes4   {
    width: auto;
    height: 200px;
}
.clientes5   {
    width: auto;
    height: 200px;
}
.clientes6   {
    width: auto;
    height: 200px;
}

footer {
    background-color: $colorPrincipal;
    grid-area: footer;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;

}

.enlaces {
    list-style-type: none;
    text-align: left;
    padding: 20px;
}

.logo  {
    width: 150px;
    height: 150px;
}

@keyframes  logo {
    10%{
     transform: translateX(15px);
     }
     50%{
         transform: translateX(25px);
     }
     100%{
         transform: translateX(35px);
     }
 }

.redesMenu  {
    text-align: right;
}

.redesSociales  {
    text-align: right;
}

@media screen and (max-width: 320px){
    .body   {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,auto);
        grid-template-areas:
        "header"
        "main"
        "section1"
        "footer" ;
            }

    .objetivo {
        flex-direction: column;
        flex-wrap: wrap;
            }

    .section1 {
        margin-bottom: 20px;
        margin-right: none;
            }
        

    }   

    @media screen and (max-width: 768px){
        .body{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 0.5fr);
            grid-template-areas:
            "header  header"
            "main  main"
            "section1 section2"
            "footer footer" 
        }

     .header  { 
        display: flex;
        justify-content: center;
        align-items: flex-end;
        grid-area: header;
    }
    
    }